.grid{
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
}

.grid div{
    
    width: calc(100%/7);
}

#border{
    height: calc(80vh/6);
    width: calc(90%/7);
    border: solid black;
}

/* @media(max-width: 445px){
    #border{
        width: calc(80%/7);
    }
} */


.player-one{
    background-color: red;
    border-radius: 50%;
}

.player-two{
    background-color: blue;
    border-radius: 50%;
}
